[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "diffobj"]
	path = diffobj
	url = https://github.com/brodieg/diffobj
[submodule "fansi"]
	path = fansi
	url = https://github.com/brodieg/fansi
[submodule "unitizer"]
	path = unitizer
	url = https://github.com/brodieg/unitizer
[submodule "vetr"]
	path = vetr
	url = https://github.com/brodieg/vetr
