[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fansi"]
	path = fansi
	url = https://github.com/brodieg/fansi
	shallow = true
	registered = true
[submodule "oshka"]
	path = oshka
	url = https://github.com/brodieg/oshka
	shallow = true
	registered = true
[submodule "diffobj"]
	path = diffobj
	url = https://github.com/brodieg/diffobj
	shallow = true
	registered = true
[submodule "vetr"]
	path = vetr
	url = https://github.com/brodieg/vetr
	shallow = true
	registered = true
[submodule "unitizer"]
	path = unitizer
	url = https://github.com/brodieg/unitizer
	shallow = true
	registered = true
